<ion-header>
  <ion-navbar color="custom">
    <ion-title style="text-align: center">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-slides paginationType="progress" #slides pager>
    <ion-slide *ngFor="let n of Questions">
      <h2 style="color: black">{{n.question}}</h2>
      <ion-list>
        <ion-item style="background-color:transparent;" *ngFor="let b of n.options">
          <button style="height: 50px" ion-button full (click)="getAns(b.option)">
            <h1 style="color: black">{{b.option}}</h1>
          </button>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <button ion-button style="height: 50px;" (click)="showTotal()" round>Submit</button>
    </ion-slide>
  </ion-slides>
</ion-content>